body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size: 17px;
    
}
#nav {
    background-color: #222;
}
#nav_wrapper {
    width: 960px;
    margin: 0 auto;
    text-align: left;
}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    min-width: 200px;
}
#nav ul li {
    display: inline-block;
}
#nav ul li:hover {
    background-color: #333;
}
#nav ul li a, visited {
    color: #CCC;
    display: block;
    padding: 15px;
    text-decoration: none;
}
#nav ul li:hover ul {
    display: block;
}
#nav ul ul {
    display: none;
    position: absolute;
    background-color: #333;
    border: 5px solid #222;
    border-top: 0;
    margin-left: -5px;
}
#nav ul ul li {
    display: block;
}
#nav ul ul li a:hover {
    color: #699;
}
.new {
    font-style: oblique;
   font-variant: small-caps;
}

.active {
	background-color: dimgray;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	
}
h1 {
    font-family: fantasy;
	font-size: 3em;
	line-height: 1.8em;
    color: blueviolet;
}
h2 {
	font-size: 2em;
	line-height: 1.6em;
    color: goldenrod;
}

h3 {
	font-size: 1.8em;
	line-height: 1.4em;
}

h4 {
	font-size: 1.5em;
	line-height: 1em;
}

h5 {
	font-size: 1em;
	line-height: .8em;
	
}

h6 {
	font-size: .8em;
	line-height: .6em;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
    position: center;
}

.col-11 {
	width: 94%;
}

.col-12 {
	width: 100%;
}
.container {
    background: url(assets/images/weather.png);
    text-align: center;
    padding: 0.5% 3%;
    margin: 0;
}